---
http_interactions:
- request:
    method: get
    uri: https://explore.delorme.com/Feed/Share/JoeTesterman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.google-earth.kml+xml
      Content-Disposition:
      - attachment; filename=feed.kml
      App-Version:
      - '2'
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<kml xmlns=\"http://www.opengis.net/kml/2.2\">\r\n
        \ <Document>\r\n    <name>KML Export 11/1/2013 6:22:16 AM</name>\r\n    <Style
        id=\"style_emergency\">\r\n      <IconStyle>\r\n        <colorMode>normal</colorMode>\r\n
        \       <Icon>\r\n          <href>http://maps.google.com/mapfiles/kml/shapes/caution.png</href>\r\n
        \       </Icon>\r\n      </IconStyle>\r\n      <BalloonStyle>\r\n        <text><![CDATA[<table><tr><td>
        Id</td><td> $[Id] </td></tr><tr><td> EventTimeStamp</td><td> $[EventTimeStamp]
        </td></tr><tr><td> FirstName</td><td> $[FirstName] </td></tr><tr><td> LastName</td><td>
        $[LastName] </td></tr><tr><td> DeviceType</td><td> $[DeviceType] </td></tr><tr><td>
        IMEI</td><td> $[IMEI] </td></tr><tr><td> ServiceType</td><td> $[ServiceType]
        </td></tr><tr><td> Direction</td><td> $[Direction] </td></tr><tr><td> IncidentId</td><td>
        $[IncidentId] </td></tr><tr><td> Latitude</td><td> $[Latitude] </td></tr><tr><td>
        Longitude</td><td> $[Longitude] </td></tr><tr><td> Altitude</td><td> $[Altitude]
        </td></tr><tr><td> GroundVelocity</td><td> $[GroundVelocity] </td></tr><tr><td>
        ValidGpsString</td><td> $[ValidGpsString] </td></tr><tr><td> ValidGps</td><td>
        $[ValidGps] </td></tr><tr><td> InEmergency</td><td> $[InEmergency] </td></tr><tr><td>
        Text</td><td> $[Text] </td></tr><tr><td> EventType</td><td> $[EventType] </td></tr><tr><td>
        UserId</td><td> $[UserId] </td></tr></table>]]></text>\r\n      </BalloonStyle>\r\n
        \   </Style>\r\n    <Style id=\"style_18475\">\r\n      <IconStyle>\r\n        <color>ffc6964f</color>\r\n
        \       <colorMode>normal</colorMode>\r\n        <Icon>\r\n          <href>http://maps.google.com/mapfiles/kml/paddle/wht-blank.png</href>\r\n
        \       </Icon>\r\n      </IconStyle>\r\n      <BalloonStyle>\r\n        <text><![CDATA[<table><tr><td>
        Id</td><td> $[Id] </td></tr><tr><td> EventTimeStamp</td><td> $[EventTimeStamp]
        </td></tr><tr><td> FirstName</td><td> $[FirstName] </td></tr><tr><td> LastName</td><td>
        $[LastName] </td></tr><tr><td> DeviceType</td><td> $[DeviceType] </td></tr><tr><td>
        IMEI</td><td> $[IMEI] </td></tr><tr><td> ServiceType</td><td> $[ServiceType]
        </td></tr><tr><td> Direction</td><td> $[Direction] </td></tr><tr><td> IncidentId</td><td>
        $[IncidentId] </td></tr><tr><td> Latitude</td><td> $[Latitude] </td></tr><tr><td>
        Longitude</td><td> $[Longitude] </td></tr><tr><td> Altitude</td><td> $[Altitude]
        </td></tr><tr><td> GroundVelocity</td><td> $[GroundVelocity] </td></tr><tr><td>
        ValidGpsString</td><td> $[ValidGpsString] </td></tr><tr><td> ValidGps</td><td>
        $[ValidGps] </td></tr><tr><td> InEmergency</td><td> $[InEmergency] </td></tr><tr><td>
        Text</td><td> $[Text] </td></tr><tr><td> EventType</td><td> $[EventType] </td></tr><tr><td>
        UserId</td><td> $[UserId] </td></tr></table>]]></text>\r\n      </BalloonStyle>\r\n
        \   </Style>\r\n    <Folder>\r\n      <name>Joe Testerman</name>\r\n      <Placemark>\r\n
        \       <name>Joe Testerman</name>\r\n        <visibility>true</visibility>\r\n
        \       <description />\r\n        <styleUrl>#style_18475</styleUrl>\r\n        <ExtendedData>\r\n
        \         <Data name=\"Id\">\r\n            <value>6903980</value>\r\n          </Data>\r\n
        \         <Data name=\"EventTimeStamp\">\r\n            <value>10/27/2013
        4:57:00 PM</value>\r\n          </Data>\r\n          <Data name=\"FirstName\">\r\n
        \           <value>Testerman</value>\r\n          </Data>\r\n          <Data name=\"LastName\">\r\n
        \           <value>Joe</value>\r\n          </Data>\r\n          <Data name=\"DeviceType\">\r\n
        \           <value>inReach SE</value>\r\n          </Data>\r\n    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/elevation/xml?locations=36.680248,-120.059121&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ElevationResponse>\n
        <status>OVER_QUERY_LIMIT</status>\n <error_message>You have exceeded your
        daily request quota for this API.</error_message>\n</ElevationResponse>\n"
  recorded_at: Tue, 05 Nov 2013 04:18:51 GMT
# for "should poll"
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/elevation/xml?locations=36.857135,-121.520075&sensor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ElevationResponse>\n
        <status>OK</status>\n <result>\n  <location>\n   <lat>36.8571350</lat>\n   <lng>-121.5200750</lng>\n
        \ </location>\n  <elevation>57.7094727</elevation>\n  <resolution>4.7719760</resolution>\n
        </result>\n</ElevationResponse>\n"
  recorded_at: Wed, 06 Nov 2013 00:49:29 GMT
recorded_with: VCR 2.2.2
